.card p {
  font-size: 13px;
}
body {
  background-color: ghostwhite;
  overflow-y: scroll; /* Добавляет вертикальную полосу прокрутки только при необходимости */
  margin: 0; /* Убирает внешние отступы для предотвращения появления полосы прокрутки */
}
table {
  font-size: 13px;
}

.formSchedule {
  background-color: aliceblue;
  input[type='time'] {
    width: 100px; // Замените на нужное вам значение
  }
}
